<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            text-align: center;
            color: #ff0303;
        }
        .container {
            text-align: center;
        }
        a {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            color: #007BFF;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>You entered incorrect data! Please retry your action again.</h1>
        <a href="/register">Navigate to registration</a>
        <a href="/login">Navigate to login</a>
    </div>
</body>
</html>